Requêtage restaurant

In [71]:
import requests
from sqlalchemy import create_engine, text
import pandas as pd


with open('apikeyrm.txt', 'r') as file: #mettre clé api
    API_KEY = file.read().strip()


# LATITUDE = 43.604429
# LONGITUDE = 1.443812
#RADIUS = 5000  # en mètres
QUERY = 'chinois, japonais toulouse jean-jaures'


# URL de l'API Places

url2 = f"https://maps.googleapis.com/maps/api/place/textsearch/json?query={QUERY}&key={API_KEY}&sort_by=rating"
# Envoyer la requête

response2 = requests.get(url2)
# data = response.json()
data2 = response2.json()

Traitement de la requête

In [72]:
nb_result = 20

# Utilisation de compréhension de dictionnaire pour créer le dictionnaire
dict_adresses = {
    'restaurant_id': [result['name'] + str(result['geometry']['location']['lat']) for result in data2['results'][:nb_result]],
    'name' : [result['name'] for result in data2['results'][:nb_result]],
    'formatted_address': [result['formatted_address'] for result in data2['results'][:nb_result]],
    'lat': [result['geometry']['location']['lat'] for result in data2['results'][:nb_result]],
    'lng' : [result['geometry']['location']['lng'] for result in data2['results'][:nb_result]],
    'photo_reference' : [result['photos'][0]['photo_reference'] for result in data2['results'][:nb_result]],
    'rating': [result['rating'] for result in data2['results'][:nb_result]],
    'user_ratings_total' : [result['user_ratings_total'] for result in data2['results'][:nb_result]],
}

# Affichage du dictionnaire pour vérification
print(dict_adresses)

name= [dict_adresses]

{'restaurant_id': ['THONG MINH MARKET43.6078445', 'Hinodé43.606462', 'Les Thermes Restaurant Chinois43.6045515', 'Zen-Saï43.6017016', 'Japoyaki43.6062214', "Jiao zi guan (l'art de ravioli)43.6057999", "Ni'shimai43.603", '米亚火锅 MIYA FONDUE43.599447', 'Restaurant Hop Seng43.6079411', 'YŪJŌ RAMEN ラーメン屋 TOULOUSE43.6036779', 'Mizuki Ramen みずき43.6020984', 'Fufu Ramen Toulouse43.6028711', 'King Fat Toulouse downtown43.6075274', 'Yoko Sushi43.6056491', 'Sakuraya Sushi43.6082273', 'MIAM MIAN ET SUSHI KINJO43.6021442', 'Wok to Walk Capitole43.60482409999999', 'Haozaï Restaurant43.6076176', 'Sushi Yoshi43.6006986', 'Asia Fast Food43.6082629'], 'name': ['THONG MINH MARKET', 'Hinodé', 'Les Thermes Restaurant Chinois', 'Zen-Saï', 'Japoyaki', "Jiao zi guan (l'art de ravioli)", "Ni'shimai", '米亚火锅 MIYA FONDUE', 'Restaurant Hop Seng', 'YŪJŌ RAMEN ラーメン屋 TOULOUSE', 'Mizuki Ramen みずき', 'Fufu Ramen Toulouse', 'King Fat Toulouse downtown', 'Yoko Sushi', 'Sakuraya Sushi', 'MIAM MIAN ET SUSHI KINJO', 'Wok to Walk Capitole', 'Haozaï Restaurant', 'Sushi Yoshi', 'Asia Fast Food'], 'formatted_address': ['15 Rue Denfert Rochereau, 31000 Toulouse, France', "17 Rue d'Austerlitz, 31000 Toulouse, France", '44 Bd Lazare Carnot, 31000 Toulouse, France', '2 Rue Jean Suau, 31000 Toulouse, France', "14 Rue d'Austerlitz, 31000 Toulouse, France", '13 Rue du Rem Villeneuve, 31000 Toulouse, France', '2 Rue Joseph Lakanal, 31000 Toulouse, France', "d'Inde, 7 Rue du Coq d'Inde, 31000 Toulouse, France", '17 Rue Denfert Rochereau, 31000 Toulouse, France', '35 Rue Léon Gambetta, 31000 Toulouse, France', '54 Rue Peyrolières, 31000 Toulouse, France', '32 Rue Sainte-Ursule, 31000 Toulouse, France', '3 Rue Denfert Rochereau, 31000 Toulouse, France', '12 Rue Gabriel Péri, 31000 Toulouse, France', '4 Rue de Bayard, 31000 Toulouse, France', '11 Rue Jean Suau, 31000 Toulouse, France', '6 Rue Jean-Antoine Romiguières, 31000 Toulouse, France', '10 Rue Denfert Rochereau, 31000 Toulouse, France', "13 Rue d'Alsace Lorraine, 31000 Toulouse, France", '4 Rue de Bayard, 31000 Toulouse, France'], 'lat': [43.6078445, 43.606462, 43.6045515, 43.6017016, 43.6062214, 43.6057999, 43.603, 43.599447, 43.6079411, 43.6036779, 43.6020984, 43.6028711, 43.6075274, 43.6056491, 43.6082273, 43.6021442, 43.60482409999999, 43.6076176, 43.6006986, 43.6082629], 'lng': [1.4486248, 1.4473634, 1.4502634, 1.4400936, 1.4475322, 1.4463453, 1.4414184, 1.4429962, 1.4487898, 1.4422979, 1.4411283, 1.4420822, 1.448116, 1.4510854, 1.4468244, 1.4405053, 1.4420609, 1.4484976, 1.4455878, 1.4468887], 'photo_reference': ['AVzFdbllpwflCfcThk_igOe7HGap3mkSi12Y575Ht_md7qHALOEayh-rx4mH2z53JT7SGN4hwMkbtx51x40nboar096lbuHw_G3PDWn9z5LGogrkARNREMhBytw8oV0A-PlDasa4F8QyhWv67DzvBSjywYg9XsLbAe8XPYwqsZW_6HwmKGzb', 'AVzFdbm2dDo-CCj4OKZ0LbV8RPdQWu0LzD_D9VVTXcX3Eccypt4V4253MucT63t3FUZs6Zl8I1_SE0YFfWWFtXiUuV8aHsryryjPFGLzJvb3MfyKUgyfn8MUt9tA0rq1PyysmqVU36wgwnorpAF_w5FzWwF8T7bkWk1yL79ivWq4d7vSYXpT', 'AVzFdbnxADmIB6ITL32hVyfUiPSHYraE6xa6Ne7fMTvDcAwgWTIcDVfwz5lGIRqF0ob0TSK-QDcqutLmMAb9t_5nl1HQ6KSEqZSonwQShaytHLyAih_Y2_YIkLZpDsXnrochmUdqLR_NlfqvF0lAY5jX139sA2E3ksqiv1aqvS8bnEdxRD2J', 'AVzFdblby7WMdj8o1ekjvnt-kdngIoqJYhnB9fFLwFkfTFYWBaT0eJFxLnYlfu87HLLpaY9gDhPfbyLxhmuyQHS0zGoSbwAIWD2JvDKbkxyhv2wFVH0JUwLP43-sYZglQL43kMgEHXSjxxAqrM4rOINRojCA-PQN2F9qrtndN670fbxx5qwT', 'AVzFdbnh2mR8D-mgEHqiLyBVrUDO05NDJ0oG1LRWgSroq1q2hnaLD98xS0mJdoYS-mx_HTdV74EzDymG_k7wGq1COMAXxCZBlxz4-oHKVIs9i5VFoedGEsf3QXzmiDoVd2JhCMwOIhiury8HyL4gVZVvIwqbqbVS0n452pxbCpJG1myEE_0', 'AVzFdbk3ziVv6TA_TCZ5lQ0NEnzBi1OG6IEhpf_MxAuFWI2MDc_a2dFRQn6xY9gpE0xms4R76d6GrTB8WB7y_UIFYw1wOZ-DMvAg0N18vsyAhceIh8YE1qePPencRID0FaOtjGwKUjmNcEmML_t_cgQ-AXftXIMMluzN2OLt7-Ar_LgqwE4', 'AVzFdbnvtzPMeQf7OJKFefrQVcLxUU5i-BMaRJJXb95RX4huNHjYv46g4fADfJXDo8I2AbWg80uecFwKC1U95xi34T6IQAeubER2Y67BoCNgLW3E63NTsPruVBmYqXWtaNpQ4oTgs7rmnidX77ZldggPA3SjAcw6a01rvHzbcoXvYEHlvbe-', 'AVzFdblZ07SpQYG0z2OWR3XJk9Vv32mhNdJV6L72RYx184r99yrqceEB2v2g8LMRkkO7T7xWPxRXVpSZOc7BZIFXLH_iHwTHQ4AvJIS0AVMsrlvYepFma0u1A-19XyAva-Ldo-n9s_YgZAxjIJPXhjWdO6W682OH8G9GGIfR8M9Rww01Z8Zb', 'AVzFdbmC9cv1m-Z6ufnHTh-ZJ5peHgmudXU8-XQnFvgXBaaxOA1CNsLbE9lElmTHDFbKABB0LlMG5ZDCH1cmWK4EGWmFlCaaM2f8RAD24YjP53lVhM__VEne8pcvSSW39616xk_uolUS7lP6oYHhJSqxI5ykEzsNiwI-InfqOANeJxkmYCUf', 'AVzFdbmV34Z86CywxwclDyiPUK9V15ip4uGyxCy20jQkiOu8OCImKOz1KsiO81F5wcHpKMO9BboTP8YQRL9EIkLSyjUxhbc7nDkIxkchrJmfZ_tJVgxQTZxRd3Nl4EuScTiaNjht6rd__7slGj-XzFZcWBldkX7L1JvF38diCtygmSEzhMSJ', 'AVzFdbn6lqnyXn1CPfpgqg4shY1acAbaT9w8Zbz3trCyCCemUC1GW7w1t5RcfMlJswBdhHaEnswxXKgBS82Bg3PoNFkXkChivyQiCwBQ695eWTJvWbei3sshGXdliHy97kHAFXuI03Dlx1yjdUF-6X0F5poPXIUfw0iOs53AkDmKRPQbfthF', 'AVzFdbkjaRgleE-CGiI1qUUWQN0a_3ITTbPDSXLAF72QdA2fqM7cr7l0bc1q_WS68LuMO7qZWEJq0ymq05BElb81NfrLDPJCqSRnhfaFJY6lO3eKFyjfCR_0Eg0t5RfC1WY5XlWfW4NdrqdyA_DTOk_qi06cLmiWNP_Hwm51lDH_uhTts_7w', 'AVzFdbkA2_OAiFCRse8hhYyQW4seDzqw1MJfUQ5m9XYPn0lnsKvpExc32PIMRYb7OeN8Zj_8Ov1IfE0sLpLY-WWCxcFnF_VJvPAy0BZdu69Jq89t7qDih_vfwRBCLWyQcDlsS9OnuZfeLpe6eUGuwQrlBG1I53-7EMB8fbS3xZpk1BP-Aid1', 'AVzFdbk79M9IuEGvoHL2RyxvqkB1TaCijqBjHwvCL3jqFTr-xSNRK0x8e7Wat71mMtkjayhX8hGdjbeTBqb4-3Qw1pzVEaPWivScZ4yuWhuiTcG4VDZLpR0w1_7LUr5cqnJATtFzXr1nLdPvj34YZbUjr1X2q4wxol9Gjk_3MQIl1SfzW2is', 'AVzFdbmeicyK6bhpnr52NGT5GrvAAPRq6nzkKad9HdwVG-6KOUQiWoB2PugAX45e0PreONhn-FktwC1hXRsOelY3bFngUlPCQEbFtwZqH_dldMXe4F7HDuN37l5MKky1xivUOQt1X7pEYzm-DwOQcHts3e8_Qo9k6XI6gd81_jiFTUknUz42', 'AVzFdblQESgcI1KjrsMpR1ViUrkf7cwxO9aXkcvqePiEH-SqHlVtx_l9BI74q6WROsxfaOxO_tY8LHma0f8bqx7d-lC4INQvvQSy6RijuKUSQzYLbxzvbCsoSXB8CFhqo3UBINb34GgCJyQ4vI02iueh0j9HWThApPoq1Pi6te02oBCvMYJm', 'AVzFdbmtK2nncJz1LwgIaaxsjzbhhxT9NrQ08Zzfi2AatsQ3syM-I6XMGGBaDem1ki1yAqffGiiTqwjykhx92pHnZn4GSXMMihIflV_sldK6CmObMt1q1ZG1OOuBffjuyRaB9mg4xzdx9y8x-F7urWYQK24KGAAiJngYlV5dV9WhgjnSuLJX', 'AVzFdblC4Nfqh_pDLA0KpGMR2vAcEQkgRAZ3xcZcbQ2cWJjod4N76E0OZHFmjZoXqQurUSwQwFnD5QItf81gPkmLn27QramzaDu7RtGGu0F0d9GBmUkETaAiAqAe3Scu3UGsjLqUmONm7iBghbCXHLdGw8v0KnyJ60hmI9OD23Pb5dxDqCgw', 'AVzFdbmxyxC-T83chS7dWlXKrRZdwyN21QzuUwBLSGCOIx6R3tXvQL5IrmOpEAZDDcR1CvZ1nJfkAXt17kUou6jRk-OtZOFLsiL19XwDZfQTKtIqKDCxnhwq_ZYxSD9LYrHKzkC6KqriQ5SH8MrHCUSSSddNGDc2_TbroMWtIilyG8gZrJuy', 'AVzFdbkz-K1XVHFX786bvSI6ycPFlmOv6TZ4RuR88h2ByEibAbKtOTyeQV6qd4LlCEi7uzQDylSjsFB3McpYpPVBxMkvilZbY6mzR4c2gqy9ToYTdEfDlxUvfMfg6rwUdE8RVRqMQROOCPRu4kNDzBZZu-Xicn_dskeJmFmpfSbrkLfV2gbr'], 'rating': [4.4, 4.3, 4.3, 4.5, 4.2, 4.9, 4.6, 4.8, 4.3, 4.6, 4.6, 4.4, 3.8, 4.3, 4.4, 4.3, 4.2, 4.5, 3.8, 3.5], 'user_ratings_total': [577, 1145, 861, 1161, 728, 736, 869, 640, 466, 1479, 513, 2237, 430, 726, 237, 263, 2429, 716, 588, 677]}

transformation requête en dataframe

In [73]:
df = pd.DataFrame(dict_adresses)
name_resto = df['name'].to_list()
lat_resto = df['lat'].to_list()

connection à la base de données

In [165]:
# Informations de connexion
DATABASE_TYPE = 'mysql'
DBAPI = 'pymysql'
HOST = 'localhost'
PORT = 3306
USER = 'root'
PASSWORD = 'Septembre_2024'
DATABASE = 'search_and_go'

# Chaîne de connexion
engine = create_engine(f"{DATABASE_TYPE}+{DBAPI}://{USER}:{PASSWORD}@{HOST}:{PORT}/{DATABASE}")

comparaison de la requête avec la base de données existante des restaurants

In [80]:
#Convertir la colonne "name" en liste
id_list = df["restaurant_id"].tolist()


#Générer les paramètres dynamiquement (:name0, :name1, etc.)
param_dict = {f"restaurant_id{i}": id for i, id in enumerate(id_list)}
placeholders = ", ".join(f":restaurant_id{i}" for i in range(len(id_list)))

#Requête SQL avec IN
query = text(f"SELECT * FROM restaurants WHERE restaurant_id IN ({placeholders})")

#Exécution de la requête
with engine.connect() as connection:
    result = connection.execute(query, param_dict)
    restaurants = result.fetchall()

restaurants = pd.DataFrame(restaurants)
display(restaurants)
if len(restaurants) !=0 :
    restaurants = set(restaurants["restaurant_id"].unique())  # Convertir en ensemble d'IDs
df_push = df.loc[~df["restaurant_id"].isin(restaurants)]
# Filtrer correctement

df_push

Empty DataFrame
Columns: []
Index: []

,restaurant_id,name,formatted_address,lat,lng,photo_reference,rating,user_ratings_total
0,THONG MINH MARKET43.6078445,THONG MINH MARKET,"15 Rue Denfert Rochereau, 31000 Toulouse, France",43.607844,1.448625,AVzFdbllpwflCfcThk_igOe7HGap3mkSi12Y575Ht_md7q...,4.4,577
1,Hinodé43.606462,Hinodé,"17 Rue d'Austerlitz, 31000 Toulouse, France",43.606462,1.447363,AVzFdbm2dDo-CCj4OKZ0LbV8RPdQWu0LzD_D9VVTXcX3Ec...,4.3,1145
2,Les Thermes Restaurant Chinois43.6045515,Les Thermes Restaurant Chinois,"44 Bd Lazare Carnot, 31000 Toulouse, France",43.604551,1.450263,AVzFdbnxADmIB6ITL32hVyfUiPSHYraE6xa6Ne7fMTvDcA...,4.3,861
3,Zen-Saï43.6017016,Zen-Saï,"2 Rue Jean Suau, 31000 Toulouse, France",43.601702,1.440094,AVzFdblby7WMdj8o1ekjvnt-kdngIoqJYhnB9fFLwFkfTF...,4.5,1161
4,Japoyaki43.6062214,Japoyaki,"14 Rue d'Austerlitz, 31000 Toulouse, France",43.606221,1.447532,AVzFdbnh2mR8D-mgEHqiLyBVrUDO05NDJ0oG1LRWgSroq1...,4.2,728
5,Jiao zi guan (l'art de ravioli)43.6057999,Jiao zi guan (l'art de ravioli),"13 Rue du Rem Villeneuve, 31000 Toulouse, France",43.605800,1.446345,AVzFdbk3ziVv6TA_TCZ5lQ0NEnzBi1OG6IEhpf_MxAuFWI...,4.9,736
6,Ni'shimai43.603,Ni'shimai,"2 Rue Joseph Lakanal, 31000 Toulouse, France",43.603000,1.441418,AVzFdbnvtzPMeQf7OJKFefrQVcLxUU5i-BMaRJJXb95RX4...,4.6,869
7,米亚火锅 MIYA FONDUE43.599447,米亚火锅 MIYA FONDUE,"d'Inde, 7 Rue du Coq d'Inde, 31000 Toulouse, F...",43.599447,1.442996,AVzFdblZ07SpQYG0z2OWR3XJk9Vv32mhNdJV6L72RYx184...,4.8,640
8,Restaurant Hop Seng43.6079411,Restaurant Hop Seng,"17 Rue Denfert Rochereau, 31000 Toulouse, France",43.607941,1.448790,AVzFdbmC9cv1m-Z6ufnHTh-ZJ5peHgmudXU8-XQnFvgXBa...,4.3,466
9,YŪJŌ RAMEN ラーメン屋 TOULOUSE43.6036779,YŪJŌ RAMEN ラーメン屋 TOULOUSE,"35 Rue Léon Gambetta, 31000 Toulouse, France",43.603678,1.442298,AVzFdbmV34Z86CywxwclDyiPUK9V15ip4uGyxCy20jQkiO...,4.6,1479
10,Mizuki Ramen みずき43.6020984,Mizuki Ramen みずき,"54 Rue Peyrolières, 31000 Toulouse, France",43.602098,1.441128,AVzFdbn6lqnyXn1CPfpgqg4shY1acAbaT9w8Zbz3trCyCC...,4.6,513
11,Fufu Ramen Toulouse43.6028711,Fufu Ramen Toulouse,"32 Rue Sainte-Ursule, 31000 Toulouse, France",43.602871,1.442082,AVzFdbkjaRgleE-CGiI1qUUWQN0a_3ITTbPDSXLAF72QdA...,4.4,2237
12,King Fat Toulouse downtown43.6075274,King Fat Toulouse downtown,"3 Rue Denfert Rochereau, 31000 Toulouse, France",43.607527,1.448116,AVzFdbkA2_OAiFCRse8hhYyQW4seDzqw1MJfUQ5m9XYPn0...,3.8,430
13,Yoko Sushi43.6056491,Yoko Sushi,"12 Rue Gabriel Péri, 31000 Toulouse, France",43.605649,1.451085,AVzFdbk79M9IuEGvoHL2RyxvqkB1TaCijqBjHwvCL3jqFT...,4.3,726
14,Sakuraya Sushi43.6082273,Sakuraya Sushi,"4 Rue de Bayard, 31000 Toulouse, France",43.608227,1.446824,AVzFdbmeicyK6bhpnr52NGT5GrvAAPRq6nzkKad9HdwVG-...,4.4,237
15,MIAM MIAN ET SUSHI KINJO43.6021442,MIAM MIAN ET SUSHI KINJO,"11 Rue Jean Suau, 31000 Toulouse, France",43.602144,1.440505,AVzFdblQESgcI1KjrsMpR1ViUrkf7cwxO9aXkcvqePiEH-...,4.3,263
16,Wok to Walk Capitole43.60482409999999,Wok to Walk Capitole,"6 Rue Jean-Antoine Romiguières, 31000 Toulouse...",43.604824,1.442061,AVzFdbmtK2nncJz1LwgIaaxsjzbhhxT9NrQ08Zzfi2Aats...,4.2,2429
17,Haozaï Restaurant43.6076176,Haozaï Restaurant,"10 Rue Denfert Rochereau, 31000 Toulouse, France",43.607618,1.448498,AVzFdblC4Nfqh_pDLA0KpGMR2vAcEQkgRAZ3xcZcbQ2cWJ...,4.5,716
18,Sushi Yoshi43.6006986,Sushi Yoshi,"13 Rue d'Alsace Lorraine, 31000 Toulouse, France",43.600699,1.445588,AVzFdbmxyxC-T83chS7dWlXKrRZdwyN21QzuUwBLSGCOIx...,3.8,588
19,Asia Fast Food43.6082629,Asia Fast Food,"4 Rue de Bayard, 31000 Toulouse, France",43.608263,1.446889,AVzFdbkz-K1XVHFX786bvSI6ycPFlmOv6TZ4RuR88h2ByE...,3.5,677

Envoie des restaurants vers la base de données

In [82]:
df_push.to_sql(name='restaurants', con=engine, if_exists = 'append', index=False)

20

verification et identification client

In [92]:
#entrée utilisateur

email = input('e-mail')

secret_pass = input('Password')

In [103]:
#verification idenfication


identification = 0

while identification == 0:

    email = input('e-mail')
    secret_pass = input('Password')
    query = text("SELECT * FROM user WHERE mail = :email AND password = :secret_pass")
        #Exécution de la requête
    with engine.connect() as connection:
        result = connection.execute(query, {'email': email, 'secret_pass': secret_pass})
        identification = result.fetchall()
    identification = pd.DataFrame(identification)
    display(identification)
    if len(identification) == 0 :
        display('Mail ou mot de passe incorrect')
        identification = 0
    else :
        identification = len(identification)

display('affichage page principale')

Empty DataFrame
Columns: []
Index: []

'Mail ou mot de passe incorrect'

   id     nom prenom                  mail   password
0   1  Martin   Jean  jean.martin@test.com  @test.com

'affichage page principale'

In [139]:
import re

new_user_mail = input('e-mail')
new_user_name = input('Name')
new_user_lastname = input('Lastname')
new_user_secret_pass = input('Password')

def checking(new_user_mail, new_user_name, new_user_lastname, new_user_secret_pass):
    #regex de qui vont servir de verification
    regex_mail = r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'
    regex_password = r'^(?=.*[a-zàâäéèêëîïôöùûüÿçáéíñóúü])(?=.*[A-ZÀÂÄÉÈÊËÎÏÔÖÙÛÜŸÇÁÉÍÑÓÚÜ])(?=.*\d)(?=.*[@$!%*?&_\"\'\'])[A-Za-zàâäéèêëîïôöùûüÿçáéíñóúüÀÂÄÉÈÊËÎÏÔÖÙÛÜŸÇÁÉÍÑÓÚÜ\d@$!%*?&_\"\'\']{8,}$'
    query = text("SELECT * FROM user WHERE mail = :new_user_mail")
    with engine.connect() as connection:
            result = connection.execute(query, {'new_user_mail': new_user_mail})
            creation = result.fetchall()
    creation = pd.DataFrame(creation)
    if len(creation) == 0:
        creation.to_sql(name='user', con=engine, if_exists = 'append', index=False)
    else :
        return "email déjà connu merci de vous identifier"  
    if re.match(regex_mail, new_user_mail):
        new_user_mail = True
        if len(new_user_name) !=0:
            new_user_name = True
            if len(new_user_lastname) !=0:
                new_user_lastname = True
                if re.match(regex_password, new_user_secret_pass):
                    new_user_secret_pass = True
                else:
                    new_user_secret_pass = False
            else:
                new_user_lastname = False
        else:
            new_user_name = False  
    else:
        new_user_mail = False
    chek_in = [new_user_mail, new_user_name, new_user_lastname, new_user_secret_pass]
    return chek_in

checking(new_user_mail, new_user_name, new_user_lastname, new_user_secret_pass)

[True, True, True, True]

In [128]:
import re

# Exemple de mot de passe à tester
password = '"rèsT"658!'

# Expression régulière pour valider un mot de passe
regex = r'^(?=.*[a-zàâäéèêëîïôöùûüÿçáéíñóúü])(?=.*[A-ZÀÂÄÉÈÊËÎÏÔÖÙÛÜŸÇÁÉÍÑÓÚÜ])(?=.*\d)(?=.*[@$!%*?&_\"\'\'])[A-Za-zàâäéèêëîïôöùûüÿçáéíñóúüÀÂÄÉÈÊËÎÏÔÖÙÛÜŸÇÁÉÍÑÓÚÜ\d@$!%*?&_\"\'\']{8,}$'

# Vérification du mot de passe
if re.match(regex, password):
    print("Mot de passe valide")
else:
    print("Mot de passe invalide")

Mot de passe valide

In [187]:
class Checker:
    email_regex = r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'
    password_regex = r'^(?=.*[a-zàâäéèêëîïôöùûüÿçáéíñóúü])(?=.*[A-ZÀÂÄÉÈÊËÎÏÔÖÙÛÜŸÇÁÉÍÑÓÚÜ])(?=.*\d)(?=.*[@$!%*?&_\"\'\'])[A-Za-zàâäéèêëîïôöùûüÿçáéíñóúüÀÂÄÉÈÊËÎÏÔÖÙÛÜŸÇÁÉÍÑÓÚÜ\d@$!%*?&_\"\'\']{8,}$'

    def __init__(self, engine):
        self.engine = engine

    def is_email_known(self, email):
        query = text("SELECT COUNT(*) FROM user WHERE mail = :email")
        with self.engine.connect() as connection:
            result = connection.execute(query, {'email': email})
            count = result.scalar()
        return count > 0

    @staticmethod
    def is_valid_email(email):
        return re.match(Checker.email_regex, email) is not None

    @staticmethod
    def is_valid_password(password):
        return re.match(Checker.password_regex, password) is not None

    @staticmethod
    def is_valid_name(name):
        return bool(name) and all(char.isalpha() or char.isspace() for char in name)

    @staticmethod
    def is_valid_lastname(lastname):
        return bool(lastname) and all(char.isalpha() or char.isspace() for char in lastname)

    def validate_user(self, email, password, name, lastname):
        if not self.is_valid_email(email):
            print("Mail invalide")
            return False
        if not self.is_valid_password(password):
            print("Mot de passe invalide merci de renseigner minimum 8 caractères dont un chiffre, majuscule et symbole")
            return False
        if not self.is_valid_name(name):
            print("Name invalid")
            return 
        if not self.is_valid_lastname(lastname):
            print("Lastname invalid")
            return 
        return True
    # alternatif
    def val(self, email, password, name, lastname):
        return not self.is_valid_email(email) and not self.is_valid_password(password) and not self.is_valid_name(name) and not self.is_valid_lastname(lastname)

    @staticmethod
    def add_user(email, password, name, lastname):
        dict_user = {'nom': [name], 'prenom': [lastname], 'mail': [email], 'password': [password]}
        df_user = pd.DataFrame(dict_user)
        df_user.to_sql(name='user', con=engine, if_exists = 'append', index=False)

# Exemple d'utilisation
email = "r.meson@test.com"
password = "WCS_Rémi_2025"
name = "Jean"
lastname = "Dupont"

In [188]:
checker = Checker(engine)

if checker.is_email_known(email):
    print("Mail déjà connu merci de vous identifier")
else:
    if checker.validate_user(email, password, name, lastname):
        checker.add_user(email, password, name, lastname)