Requêtage restaurant

In [1]:
import requests
from sqlalchemy import create_engine, text
import pandas as pd
from SQL_user import SQL_user


with open('apikeyrm.txt', 'r') as file: #mettre clé api
    API_KEY = file.read().strip()


# LATITUDE = 43.604429
# LONGITUDE = 1.443812
#RADIUS = 5000  # en mètres
QUERY = 'Pizza Colomiers centre-ville /n'


# URL de l'API Places

url2 = f"https://maps.googleapis.com/maps/api/place/textsearch/json?query={QUERY}&key={API_KEY}&sort_by=rating"
# Envoyer la requête

response2 = requests.get(url2)
# data = response.json()
data2 = response2.json()

Traitement de la requête

In [2]:
nb_result = 5

# Utilisation de compréhension de dictionnaire pour créer le dictionnaire
dict_adresses = {
    'restaurant_id': [result['name'] + str(result['geometry']['location']['lat']) for result in data2['results'][:nb_result]],
    'name' : [result['name'] for result in data2['results'][:nb_result]],
    'formatted_address': [result['formatted_address'] for result in data2['results'][:nb_result]],
    'lat': [result['geometry']['location']['lat'] for result in data2['results'][:nb_result]],
    'lng' : [result['geometry']['location']['lng'] for result in data2['results'][:nb_result]],
    'photo_reference' : [result['photos'][0]['photo_reference'] for result in data2['results'][:nb_result]],
    'rating': [result['rating'] for result in data2['results'][:nb_result]],
    'user_ratings_total' : [result['user_ratings_total'] for result in data2['results'][:nb_result]],
}

# Affichage du dictionnaire pour vérification
print(dict_adresses)

name= [dict_adresses]

{'restaurant_id': ['pizzeria EMILIO43.6093607', 'LA BOÎTE A PIZZA Colomiers43.6079109', "Valentino'z pizza43.61347629999999", 'Pizza Sud43.6000784', 'Pizza Bonici Colomiers43.6110034'], 'name': ['pizzeria EMILIO', 'LA BOÎTE A PIZZA Colomiers', "Valentino'z pizza", 'Pizza Sud', 'Pizza Bonici Colomiers'], 'formatted_address': ['Pl. du Sidobre, 31770 Colomiers, France', '4 Pl. de la Bascule, 31770 Colomiers, France', '9 Pl. Firmin Pons, 31770 Colomiers, France', '12 Av. des Marots, 31770 Colomiers, France', '4 Pl. du Lioran, 31770 Colomiers, France'], 'lat': [43.6093607, 43.6079109, 43.61347629999999, 43.6000784, 43.6110034], 'lng': [1.3455614, 1.3391628, 1.3373698, 1.322542, 1.3331053], 'photo_reference': ['AVzFdbmI1tzj_SJCTWxSKPfoMNCDxmeTmW7rx4hpUgM1wSTAn5RdN2IXuyXYEBKJ0_0XMdbhXdswtsrYSuSE4ncPj8MNE6-LB1oH5XnKFbm1saBLSA1SWugzpuYn8H-HnRCG2HyMSYj8-YQDZSnYbhKT82HbbzyWmsKkdMrhxVhBshczMuok', 'AVzFdbmFuVGamRdFYP06piiW9DbHdTcihvyxMjXCP3FcuevkUGJ_TXaI0YmVIU9-zMio_6SFFku5YQpO8bK7HKDhGoc5YSuLjy2__40IjrqRzi3a-6gCkggMnbIobn1Gqj9YnkS2v_cOnpQyt-EN0__-sNhwG7eBZ_V7J2oACpDnCCUKn_vS', 'AVzFdbmJfXWA9czoaI6G2GvztxzdNDP-5i86Ogvkv1d2vwgu5UN5C5qt3r-3TrNn5EEc_FAh4OhbjQ4Fdc41QFL9-N-oM3LSyAszv0V5fn7tnjkMHtnTanfZz6S9rqzK9b8UkGBmlwB9BILn5eyTMTJJNAElAZhbulBi_Iia5C9AliQswwLR', 'AVzFdbmDpjBPcqjov0S7Q4WMEm2cTDdGXbC1DC7GZ6OI80pEOZ9W4RYwn_ENmxYnmwboRIkGddjmU9woHPdDUnKtf-gQhednZow1YtfEk0SHIwGZzjEB1feTYlZw69JfBWtzp2jH8XV8VkD1Q99bFF7t-X3gIazPytyYDM-MW2ITt9yrFpKh', 'AVzFdbnrLt3nYhFkDdd5wi9quyp0yWgKHnYF7T7LhJ9hO7qVM5p10zylyGQ205B8h4LCl_2scxGmcd5YjAlSJ7tMYLlXC2nQO2p4N4goAZTN3z8XA3OqZHh-6-6C0IqdUX7r7H9IzLdmiNzou19zAGK7_swzB3V6XwtpHcNW4lTqXRUSa6OZ'], 'rating': [4.6, 4.5, 4.6, 4.8, 4], 'user_ratings_total': [86, 705, 131, 494, 213]}

transformation requête en dataframe

In [3]:
df = pd.DataFrame(dict_adresses)
name_resto = df['name'].to_list()
lat_resto = df['lat'].to_list()

connection à la base de données

In [4]:
# Informations de connexion
DATABASE_TYPE = 'mysql'
DBAPI = 'pymysql'
HOST = 'localhost'
PORT = 3306
USER = 'root'
PASSWORD = 'Septembre_2024'
DATABASE = 'search_and_go'

sql_user= SQL_user()


# Chaîne de connexion
engine = sql_user.engine

comparaison de la requête avec la base de données existante des restaurants

In [8]:
#Convertir la colonne "name" en liste
id_list = df["restaurant_id"].tolist()


#Générer les paramètres dynamiquement (:name0, :name1, etc.)
param_dict = {f"restaurant_id{i}": id for i, id in enumerate(id_list)}
placeholders = ", ".join(f":restaurant_id{i}" for i in range(len(id_list)))

#Requête SQL avec IN
query = text(f"SELECT * FROM restaurants WHERE restaurant_id IN ({placeholders})")

#Exécution de la requête
with engine.connect() as connection:
    result = connection.execute(query, param_dict)
    restaurants = result.fetchall()

restaurants = pd.DataFrame(restaurants)
display(restaurants)
if len(restaurants) !=0 :
    restaurants = set(restaurants["restaurant_id"].unique())  # Convertir en ensemble d'IDs
df_push = df.loc[~df["restaurant_id"].isin(restaurants)]
# Filtrer correctement

df_push

,restaurant_id,name,lat,lng,formatted_address,photo_reference,rating,user_ratings_total,types
0,pizzeria EMILIO43.6093607,pizzeria EMILIO,43.6093607,1.3455614,"Pl. du Sidobre, 31770 Colomiers, France",AVzFdbmI1tzj_SJCTWxSKPfoMNCDxmeTmW7rx4hpUgM1wS...,4.60,86,None
1,LA BOÎTE A PIZZA Colomiers43.6079109,LA BOÎTE A PIZZA Colomiers,43.6079109,1.3391628,"4 Pl. de la Bascule, 31770 Colomiers, France",AVzFdbmFuVGamRdFYP06piiW9DbHdTcihvyxMjXCP3Fcue...,4.50,705,None
2,Valentino'z pizza43.61347629999999,Valentino'z pizza,43.6134763,1.3373698,"9 Pl. Firmin Pons, 31770 Colomiers, France",AVzFdbmJfXWA9czoaI6G2GvztxzdNDP-5i86Ogvkv1d2vw...,4.60,131,None
3,Pizza Sud43.6000784,Pizza Sud,43.6000784,1.3225420,"12 Av. des Marots, 31770 Colomiers, France",AVzFdbmDpjBPcqjov0S7Q4WMEm2cTDdGXbC1DC7GZ6OI80...,4.80,494,None
4,Pizza Bonici Colomiers43.6110034,Pizza Bonici Colomiers,43.6110034,1.3331053,"4 Pl. du Lioran, 31770 Colomiers, France",AVzFdbnrLt3nYhFkDdd5wi9quyp0yWgKHnYF7T7LhJ9hO7...,4.00,213,None

Empty DataFrame
Columns: [restaurant_id, name, formatted_address, lat, lng, photo_reference, rating, user_ratings_total]
Index: []

Envoie des restaurants vers la base de données

In [9]:
df_push.to_sql(name='restaurants', con=engine, if_exists = 'append', index=False)

0

verification et identification client

In [10]:
#entrée utilisateur

email = input('e-mail')

secret_pass = input('Password')

In [103]:
#verification idenfication


identification = 0

while identification == 0:

    email = input('e-mail')
    secret_pass = input('Password')
    query = text("SELECT * FROM user WHERE mail = :email AND password = :secret_pass")
        #Exécution de la requête
    with engine.connect() as connection:
        result = connection.execute(query, {'email': email, 'secret_pass': secret_pass})
        identification = result.fetchall()
    identification = pd.DataFrame(identification)
    display(identification)
    if len(identification) == 0 :
        display('Mail ou mot de passe incorrect')
        identification = 0
    else :
        identification = len(identification)

display('affichage page principale')

Empty DataFrame
Columns: []
Index: []

'Mail ou mot de passe incorrect'

   id     nom prenom                  mail   password
0   1  Martin   Jean  jean.martin@test.com  @test.com

'affichage page principale'

In [139]:
import re

new_user_mail = input('e-mail')
new_user_name = input('Name')
new_user_lastname = input('Lastname')
new_user_secret_pass = input('Password')

def checking(new_user_mail, new_user_name, new_user_lastname, new_user_secret_pass):
    #regex de qui vont servir de verification
    regex_mail = r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'
    regex_password = r'^(?=.*[a-zàâäéèêëîïôöùûüÿçáéíñóúü])(?=.*[A-ZÀÂÄÉÈÊËÎÏÔÖÙÛÜŸÇÁÉÍÑÓÚÜ])(?=.*\d)(?=.*[@$!%*?&_\"\'\'])[A-Za-zàâäéèêëîïôöùûüÿçáéíñóúüÀÂÄÉÈÊËÎÏÔÖÙÛÜŸÇÁÉÍÑÓÚÜ\d@$!%*?&_\"\'\']{8,}$'
    query = text("SELECT * FROM user WHERE mail = :new_user_mail")
    with engine.connect() as connection:
            result = connection.execute(query, {'new_user_mail': new_user_mail})
            creation = result.fetchall()
    creation = pd.DataFrame(creation)
    if len(creation) == 0:
        creation.to_sql(name='user', con=engine, if_exists = 'append', index=False)
    else :
        return "email déjà connu merci de vous identifier"  
    if re.match(regex_mail, new_user_mail):
        new_user_mail = True
        if len(new_user_name) !=0:
            new_user_name = True
            if len(new_user_lastname) !=0:
                new_user_lastname = True
                if re.match(regex_password, new_user_secret_pass):
                    new_user_secret_pass = True
                else:
                    new_user_secret_pass = False
            else:
                new_user_lastname = False
        else:
            new_user_name = False  
    else:
        new_user_mail = False
    chek_in = [new_user_mail, new_user_name, new_user_lastname, new_user_secret_pass]
    return chek_in

checking(new_user_mail, new_user_name, new_user_lastname, new_user_secret_pass)

[True, True, True, True]

In [11]:
import re

# Exemple de mot de passe à tester
password = '"rèsT"658!'

# Expression régulière pour valider un mot de passe
regex = r'^(?=.*[a-zàâäéèêëîïôöùûüÿçáéíñóúü])(?=.*[A-ZÀÂÄÉÈÊËÎÏÔÖÙÛÜŸÇÁÉÍÑÓÚÜ])(?=.*\d)(?=.*[@$!%*?&_\"\'\'])[A-Za-zàâäéèêëîïôöùûüÿçáéíñóúüÀÂÄÉÈÊËÎÏÔÖÙÛÜŸÇÁÉÍÑÓÚÜ\d@$!%*?&_\"\'\']{8,}$'

# Vérification du mot de passe
if re.match(regex, password):
    print("Mot de passe valide")
else:
    print("Mot de passe invalide")

Mot de passe valide

In [26]:
class Checker:
    email_regex = r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'
    password_regex = r'^(?=.*[a-zàâäéèêëîïôöùûüÿçáéíñóúü])(?=.*[A-ZÀÂÄÉÈÊËÎÏÔÖÙÛÜŸÇÁÉÍÑÓÚÜ])(?=.*\d)(?=.*[@$!%*?&_\"\'\'])[A-Za-zàâäéèêëîïôöùûüÿçáéíñóúüÀÂÄÉÈÊËÎÏÔÖÙÛÜŸÇÁÉÍÑÓÚÜ\d@$!%*?&_\"\'\']{8,}$'

    def __init__(self, engine):
        self.engine = engine

    def is_email_known(self, email):
        query = text("SELECT COUNT(*) FROM user WHERE email = :email")
        with self.engine.connect() as connection:
            result = connection.execute(query, {'email': email})
            count = result.scalar()
        return count > 0

    @staticmethod
    def is_valid_email(email):
        return re.match(Checker.email_regex, email) is not None

    @staticmethod
    def is_valid_password(password):
        return re.match(Checker.password_regex, password) is not None

    @staticmethod
    def is_valid_name(name):
        return bool(name) and all(char.isalpha() or char.isspace() for char in name)

    @staticmethod
    def is_valid_lastname(lastname):
        return bool(lastname) and all(char.isalpha() or char.isspace() for char in lastname)

    def validate_user(self, email, password, name, lastname):
        if not self.is_valid_email(email):
            print("Mail invalide")
            return False
        if not self.is_valid_password(password):
            print("Mot de passe invalide merci de renseigner minimum 8 caractères dont un chiffre, majuscule et symbole")
            return False
        if not self.is_valid_name(name):
            print("Name invalid")
            return 
        if not self.is_valid_lastname(lastname):
            print("Lastname invalid")
            return 
        return True
    # alternatif
    def val(self, email, password, name, lastname):
        return not self.is_valid_email(email) and not self.is_valid_password(password) and not self.is_valid_name(name) and not self.is_valid_lastname(lastname)

    @staticmethod
    def add_user(email, password, name, lastname):
        dict_user = {'nom': [name], 'prenom': [lastname], 'mail': [email], 'password': [password]}
        df_user = pd.DataFrame(dict_user)
        df_user.to_sql(name='user', con=engine, if_exists = 'append', index=False)
    
    
    def is_authentificate(self, email, password):
        query = text("SELECT COUNT(*) FROM user WHERE mail = :email and password = :password")
        with self.engine.connect() as connection:
            result = connection.execute(query, {'email': email, 'password': password})
            count = result.scalar()
        return count > 0

# Exemple d'utilisation
email = "r.meson@test.com"
password = "WCS_Rémi_2025"
name = "Jean"
lastname = "Dupont"

In [2]:
# Exemple d'utilisation
email = "r.meson@test.com"
password = "WCS_Rémi_2025"
name = "Jean"
lastname = "Dupont"

In [3]:
from checker import Checker

checker= Checker()

checker.is_email_known(email)

False

In [35]:


if checker.is_email_known(email):
    print("Mail déjà connu merci de vous identifier")
else:
    if checker.validate_user(email, password, name, lastname):
        checker.add_user(email, password, name, lastname)

Mail déjà connu merci de vous identifier

In [3]:
pip install psycopg2-binary

Defaulting to user installation because normal site-packages is not writeable
Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.10-cp313-cp313-win_amd64.whl.metadata (4.8 kB)
Downloading psycopg2_binary-2.9.10-cp313-cp313-win_amd64.whl (2.6 MB)
   ---------------------------------------- 0.0/2.6 MB ? eta -:--:--
   ------------------------------------ --- 2.4/2.6 MB 11.9 MB/s eta 0:00:01
   ---------------------------------------- 2.6/2.6 MB 11.5 MB/s eta 0:00:00
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.10
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0
[notice] To update, run: python.exe -m pip install --upgrade pip